<!DOCTYPE html>
<html>
<head>
  <title>Add Home</title>
</head>
<body>
  <h2>Add a New Property</h2>
  <div id="new-home-container">
    <form action="/" method="POST">
      <input type="text" name="img" placeholder="IMG">
      <br>
      <input type="text" name="roomNum" placeholder="Room Number">
      <br>
      <input type="text" name="availability" placeholder="Availability">
      <br>
      <input type="text" name="city" placeholder="City">
      <br>
      <input type="text" name="bathroomNum" placeholder="Bathroom Number">
      <br>
      <input type="text" name="description" placeholder="Home Description">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
